// @import 'variables';
// @import 'mixins';
@import '../app/components/name-zipcode/name-zipcode-style.scss';
@import '../app/components/senior-form/senior-form.scss';


body {
  text-align: center;
  background-color: #161F26;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

input {
  margin: 15px;
  padding: 20px 5px 10px;
}
